*{
    padding: 0%;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}
.main-div 
{
 text-align: center;
}
.main-div ul
{
    background-color: #098ab1;
   text-align: center;
}

.main-div ul li
{
    display: inline-block;
    padding: 15px 30px;
   border-right: 1px solid #fff;
   margin-left: -4px;
   position: relative;
   width: 100px;
 

}
.main-div ul li a{
    text-decoration: none;
    color: #fff;
}
.main-div ul li:first-child{
    border-left: 1px solid #ffff;
}

.main-div ul li:hover{
  background: rgba(5, 41, 41, 0.404);
  width: 100px;
}


/* dropdown-part */

.main-div ul li ul
{
    position: absolute;
    left: 0px;
    top: 100%;
   max-width: 100%;

}

.main-div ul li ul li
{
    /* display: block; */
    margin-left: 0px;
    border-bottom: 1px solid #fff;
    
    
}
.main-div ul li ul li:first-child
{
    border-top: 1px solid #fff;
}

/* hover-part */
.main-div ul li ul{
visibility: hidden;
opacity: 0;
transition: 0.5s;
transform: scaleY(0);
transform-origin: top center;

}
.main-div ul li:hover ul{
visibility: visible;
opacity: 1;
transform: scaleY(1);
}